<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>signup</title>
  <link rel="stylesheet" href="/static/signup.css">
  <link rel="shortcut icon" href="https://u6wdnj9wggobj.vcdn.cloud/static/version1684427202/frontend/Mgs/mkingdom/vi_VN/images/mkd-logo-mobile.png" type="image/x-icon">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
  <link rel="stylesheet" th:href="@{/signup.css}">
</head>
<body>
<header>
  <div class="header">
    <p><i class="fa-solid fa-phone"></i> HOTLINE:0865923203</p>
    <p><i class="fa-solid fa-location-dot"></i> Hệ thống 246 cửa hàng mykingdom</p>
  </div>
</header>
<div class="header1">
<!--  <div class="header1-child">-->
<!--    <div class="img">-->
<!--      <img src="https://u6wdnj9wggobj.vcdn.cloud/media/logo/stores/1/logo-254x76.png" alt="">-->
<!--    </div>-->

<!--    <div class="input">-->
<!--      <input type="text">-->
<!--      <button><i class="fa-solid fa-magnifying-glass"></i></button>-->
<!--    </div>-->

<!--  </div>-->
<!--  <div class="dropdown">-->
<!--    <div class="dropdown__header">-->
<!--      <span> TÀI KHOẢN</span>-->
<!--      <i class="fa-solid fa-caret-down"></i>-->
<!--    </div>-->
<!--    <ul class="dropdown__main">-->

<!--      <li class="item">-->
<!--        <span>Xem đơn hàng</span>-->

<!--      </li>-->
<!--      <li class="item">-->
<!--        <span>Đăng nhập</span>-->

<!--      </li>-->
<!--      <li class="item">-->
<!--        <span>Đăng xuất</span>-->

<!--      <li class="item">-->
<!--        <span>Đăng ký</span>-->

<!--      </li>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </div>-->
</div>
<div id="root">
  <main>
    <section id="sign-in">
      <div class="sign-in__container">
        <div class="sign-in__main">
          <h1>
            Đăng Ký
          </h1>
          <p>
            Đăng ký để mua hàng và sử dụng những tiện ích mới nhất từ Mykingdom
          </p>
          <form th:action="@{/taikhoan/signup}" method="post">
            <input type="text" name="hoTen" placeholder="nhap ho ten" required>
            <input type="text" name="soDT" placeholder="nhap so dien thoai" required>
            <input type="text" name="gioiTinh" placeholder="nhap gioi tinh" required>
            <input type="email" name="email" placeholder="Email" required>
            <p class="error" th:text="${error}"></p>
            <input type="password" name="matKhau" id="input-password" placeholder="nhap mat khau" required>
            <i id="toggle-password" class="fa-regular fa-eye-slash"></i>
            <div class="form__btn">
              <button>
                Sign up
              </button>
              <div class="form__sign-up">
                                <span>
                                    Do you have an account?
                                </span>
                <a th:href="@{/login}">Sign in</a>
              </div>
            </div>

          </form>
        </div>
      </div>
    </section>
  </main>

</div>
</body>
</html>